
/* Navbar start */
.hero-box .box p {
    width: 500px;
  }
  
  .hero-box .box img {
    width: 400px;
  }
  
  @media (max-width: 992px) {
    .hero-box .box p {
      font-size: 14px;
      width: 300px;
    }
  
    .hero-box .box img {
      width: 300px;
    }
  }
  
  @media (max-width: 768px) {
    .hero {
      padding-top: 50px;
    }
  
    .hero-box {
      text-align: center;
    }
  
    .hero-box .box p {
      width: 100%;
    }
  }
/* navbar end */

/* Grid start */
.grid-box img {
  max-width: 100px;
  height: auto;
}
/* Grid end */

/* footer start */
  .footer {
    margin-top: 100px;
    padding-bottom: 20px;
    padding-top: 3rem;
  }
  
  .footer-box .row .col:nth-child(2) a {
    opacity: 75%;
  }
  
  .footer-box .row .col:nth-child(2) a:hover {
    opacity: 100%;
  }
  
  .copyright {
    margin-top: 60px;
  }
/* footer end */
